{$DOMAIN} {
    handle /kibana/* {
        basic_auth {
            {$KIBANA_USER} {$KIBANA_HASHED_PASSWORD}
        }
        reverse_proxy kibana:5601
    }

    handle /metrics {
        respond 404
    }

    handle {
        reverse_proxy app:3000
    }
}
